@charset "utf-8";

// If need, change your variables before importing Bulma

$card-header-shadow: none;
$card-footer-border-top: none;
$pagination-current-background-color: hsl(0, 0%, 29%);
$pagination-current-border-color: hsl(0, 0%, 29%);
$pagination-current-color: hsl(0, 0%, 98%);

@import "~bulma/bulma.sass";
