.page-title {
    font-size: 2rem;
}

main h1{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 40px
}

main h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 32px
}

main h3 {
    font-size: 24px
}

main h4 {
    font-size: 16px
}

main h5 {
    font-size: 14px
}

main h6 {
    font-size: 12px
}

main a {
    text-decoration: none;
    color: black;
    box-shadow: 0 1px;
}

.meta-info {
    margin-top: -1em;
    text-align: center;
}

.member-description {
    margin-top: 5em;
}

.add-ics-button {
    margin-left: 1em;
    vertical-align: baseline;
}