body {
    background-color: #f5f5f5;
}

#page-footer {
    background-color: #f5f5f5 !important;
    padding-bottom: 0;
    height: 8vh;
}

.page-title {
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-weight: 400;
    font-size: 1.8rem;
}

.main-container {
    min-height: 92vh;
}

#navbar-home-link {
    font-size: 1.3em;
}

.card {
    margin-bottom: 2em;
    border-radius: 10px;
}

.card>a {
    color: black;
}

.card-footer-item {
    display: block;
    padding-left: 1.5rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
    font-size: 0.8rem;
}

.card-header-title {
    display: block;
    padding-left: 1.5rem;
    padding-top: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.is-disabled,
.is-current {
    pointer-events: none;
}

#search-form {
    margin-top: 8em;
}

.search-results {
    margin-top: 3em;
}

button {
    background-color: #f5f5f5 !important;
}